<div class="top-menu" highlighted>

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="course-card">
    Test card
</div>

<!-- <h1>{{rjxCourse.description}}</h1> -->
<div class="demo">
    <div>Start Date:{{startDate | date:'MMM dd yyyy:'}}</div>
    <div>{{price |number:'3.5-5'}}</div>
    <div>{{price |currency : 'GBP'}}</div>
    <div>{{title | lowercase}}</div>
    <div>{{rate | percent}}</div>
</div>

<button (click)="onCoursesEdited()">Edit Courses</button>


<ng-template [ngIf]="courses[1] " let-course>

    <div class="courses salmon-theme" #container >

<ng-template #blankImage let-courseName="description"  >
            <p class="warn">{{courseName}}No image is availble yet.     </p>
            <!-- <img src="/src/assets/empty-image.png" > -->
        </ng-template>

<!-- <div *ngTemplateOutlet="blankImage;context:{description:course.description
}">

</div> -->

<!-- <ng-container *ngTemplateOutlet="blankImage;context:{description:course.description
}">
</ng-container> -->

<hr>
<hr>

    <course-card highlighted   #highlighter="hl"
    (toggleHighlighted)="onToggle($event)"
 (courseSelected)="onCourseSelected($event)" 
 [course]="course"  [noImageTpl]="blankImage"
 >

 <!-- <div class="course-image"  #courseImage>
<img width="300" alt="Angular Logo" 
             [src]="course.iconUrl">

    <h2>total lessons:5</h2>
 </div> -->


<ng-container *ngxUnless="!course.iconUrl">
  <course-image [src]="course.iconUrl"></course-image>
</ng-container>




 <!-- <course-image [src]="courses[1].iconUrl"></course-image>
 <course-image [src]="courses[2].iconUrl"></course-image> -->

    <div class="course-description"
    (dblclick)="highlighter.toggle()">
            {{course.longDescription}}
        </div>

--Edit description--

</course-card>


<course-card highlighted [course]="courses[2]"></course-card>

<!-- <course-card 
 (courseSelected)="onCourseSelected($event)" 
 [course]="courses[3]" 
 >

<img width="300" alt="Angular Logo" 
             [src]="course.iconUrl">

    <h2>total lessons:3</h2>

</course-card> -->







    <!-- <course-card #cardRef1
    *ngFor="let course of courses"
 (courseSelected)="onCourseSelected($event)" 
 [course]="courses[1]" [cardIndex]=""
 /> -->




<!-- <course-card *ngFor="let course of courses | slice:0:4 ;index as i;first as isFirst;last as isLast ;even as isEven;odd as isOdd"
 
[class.is-first]="isFirst"
 [class.is-last]="isLast"
 (courseSelected)="onCourseSelected($event)" 
 [course]="course" 
 [cardIndex]="i+1"
 [class.is-even]="isEven"
 [class.is-odd]="isOdd"
 /> -->

<!-- @for (course of courses; track course.id ; let index =$index; let count=$count;let last=$last
;let even=$even ; let odd=$odd){
<h1>Count:{{count}}</h1>

<course-card
(courseSelected)="onCourseSelected($event)" 
[index]="index" 
[class.is-first]=$first
[class.is-last]="last"
[class.is-even]="even"
[class.is-odd]="odd"
[course]="course"/>    
}

@empty{
    <h1>No Courses found!</h1>
} -->


<!-- <course-card (courseSelected)="onCourseSelected($event)"  [course]="coreCourse"/>     -->

    
    <!-- <div class="course-card">

        <div class="course-title">
           Welcome to {{data.title}}!
        </div>
        <img width="300" (click)="onLogoClicked()"
             alt="Angular Logo"
             src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-core-in-depth-small.png">

        <input class="demo" (keyup)="onKeyUp(titleInput.value)" [value]="data.title" #titleInput>

    </div> -->

</div>
</ng-template>




